# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# build
bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Mac crap 
.DS_Store

# vendored deps
vendor

# certs
certs
*.pem
