{{ define "day" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    <h3>Daily events for {{ .date }}</h3>

    <!-- Table 1 -->
    {{if .hasFollowers }}
    <div class="list-table-wrapper">
        <h3>
            {{ .state.NewFollowerCount }} accounts followed you
            {{if .followersLimited }}
                (trimmed, showing last {{ .eventLimit }}) 
            {{ end }}
        </h3>
        <table class="list-table">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>You&nbsp;Follow</th>
                <th>Friends</th>
                <th>Followers</th>
                <th>Tweets</th>
                <th>Listed</th>
            </tr>
            {{ template "followers" .followers }}
        </table>
    </div>
    {{ end }}

    <!-- Table 2 -->
    {{if .hasUnfollowers }}
    <div class="list-table-wrapper">
        <h3>
            {{ .state.NewUnfollowerCount }} accounts unfollowed you (or been deleted)
            {{if .unfollowersLimited }}
                (trimmed, showing last {{ .eventLimit }}) 
            {{ end }}
        </h3>
        <table class="list-table">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>You&nbsp;Follow</th>
                <th>Friends</th>
                <th>Followers</th>
                <th>Tweets</th>
                <th>Listed</th>
            </tr>
            {{ template "followers" .unfollowers }}
        </table>
    </div>
    {{ end }}

    <!-- Table 3 -->
    {{if .hasFriended }}
    <div class="list-table-wrapper">
        <h3>
            You friended {{ .state.NewFriendsCount }} accounts
            {{if .friendedLimited }}
                (trimmed, showing last {{ .eventLimit }}) 
            {{ end }}
        </h3>
        <table class="list-table">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Follows&nbsp;You</th>
                <th>Friends</th>
                <th>Followers</th>
                <th>Tweets</th>
                <th>Listed</th>
            </tr>
            {{ template "friends" .friended }}
        </table>
    </div>
    {{ end }}


    <!-- Table 4 -->
    {{if .hasUnfriended }}
    <div class="list-table-wrapper">
        <h3>
            You unfriended {{ .state.NewUnfriendedCount }} accounts 
            {{if .unfriendedLimited }}
                (trimmed, showing last {{ .eventLimit }}) 
            {{ end }}
        </h3>
        <table class="list-table">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Follows&nbsp;You</th>
                <th>Friends</th>
                <th>Followers</th>
                <th>Tweets</th>
                <th>Listed</th>
            </tr>
            {{ template "friends" .unfriended }}
        </table>
    </div>
    {{ end }}

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}