{{ define "day" }}

{{ template "header" . }}

<!-- Middle -->

<div id="middle-section">

    <h3>Daily events for {{ .days }}</h3>

    <div class="error-msg"></div>

    <div id="meta-panel">
        <form>
            <input type="hidden" name="selectedDate" id="selectedDate" value="{{ .days }}" />
            List: 
            <select id="list-selector">
                {{ range $key, $value := .listTypes }}
                    <option value="{{ $key }}">{{ $value }}</option>
                {{ end }}
            </select>
        </form>
    </div>

    <!-- Table -->
    <div class="list-table-wrapper" class="after-load">
        <table class="list-table" id="events-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Follow(s/ed)</th>
                    <th>Friends</th>
                    <th>Followers</th>
                    <th>Tweets</th>
                    <th>Listed</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="page-nav">
        <a href="#" id="day-list-prev" class="after-load page-button" data-page="0">Prev</a> 
        <a href="#" id="day-list-next" class="after-load page-button" data-page="2">Next</a>
    </div>

</div>

<!-- End Middle -->


{{ template "footer" . }}

{{ end }}